<form>
    <div id="searchbar">
        <input type="text" [(ngModel)]="city" placeholder="City" [ngModelOptions]="{standalone: true}">
        <button type="button" (click)="onSubmit()"><i class="bi bi-search"></i></button>
    </div>
</form>